@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --background: #eeeeee;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: black
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #100525;
}

#formCadastro {
    display: flex;
    width: 600px;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(1, 3, 129, 0.4);
    gap: 3px;
    animation: flipForm 2s;
}

@keyframes flipForm {
    from {
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg)
    }
}

#formCadastro h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
}

.form__description{
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-bottom: 25px;
}

#formCadastro input {
    padding: 10px;
    border: 1.5px solid #000000;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 5px;
    transition: all linear 160ms;
    background: none;
}


#formCadastro input:focus {
    border: 1px solid #000;
}

#formCadastro label {
    font-size: 16px;
    font-weight: 600;
}

.container{
    display: flex;
    gap: 37px;
}

.container__input{
    display: inline-block;
    position: relative;
    width: 100%;

}

.input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px var(--background) inset;
}

.label{
    position: absolute;
    color: #9e9e9e;
    left: 10px;
    pointer-events: none;
    transform: translateY(15px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1)
}

.input:focus~label, input:valid~label{
    transform: translateX(-2%) translateY(-50%) scale(1);
    background-color: var(--background);
    padding: 0.2rem;
    color: black;
    font-size: 18px;
}

#email{
    width: 80%;
}

#email-message{
    padding: 3px;
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}

#toggle-password{
    position: absolute;
    text-align: center;
    left: 35%;
    top: 35%;
    cursor: pointer;
    display: none;
}

.container-button{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.container-button a{
    text-decoration: none;
    color: white;
}

.btn-confirmar{
    background-color: #194997;
}

.btn-cancelar{
    background-color: #831a1a;
}

.btn {
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    width: 30%;
    font-size: 18px;
    padding: 3px 5px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    border-radius: 4px;

}

.btn-confirmar:hover {
    transform: scale(1.05);
    background-color: #0e4eb4;
}

.btn-cancelar:hover{
    transform: scale(1.05);
    background-color: #9c1d1d;
}


#confirmPassword, #password{
    width: 40%;
}

#confirmPassword{
    margin-bottom: 0;
}

#confirmPassword-text {
    padding: 3px;
    color: red;
    font-style: italic;
    font-size: 0.8rem;
}

.password-strenght-bar{
    width: 45%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    display: none;
}

.strenght-indicator{
    height: 100%;
    width: 0;
    background-color: red;
    transition: width 0.5s ease, background-color 0.5s ease;
}

#password-strenght-text{
    color:#666;
    font-size: 12px;
    margin: 0 0 0 100px;
}

#tip{
    font-style: italic;
    color:#666;
    font-size: 10px;
    max-width: 45%;
    margin-bottom: 10px;
    margin-top: 0px;
}